/* Font-Face Declarations */

/* FuturaTSNew */
@font-face {
    font-family: 'FuturaTSNew';
    src: url('/fonts/FuturaTSNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FuturaTSNewBold */
@font-face {
    font-family: 'FuturaTSNewBold';
    src: url('/fonts/FuturaTSNewBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* FuturaTSNewExtraBold */
@font-face {
    font-family: 'FuturaTSNewExtraBold';
    src: url('/fonts/FuturaTSNewExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* FuturaTSNewExtraLight */
@font-face {
    font-family: 'FuturaTSNewExtraLight';
    src: url('/fonts/FuturaTSNewExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* FuturaTSNewHeavy */
@font-face {
    font-family: 'FuturaTSNewHeavy';
    src: url('/fonts/FuturaTSNewHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* FuturaTSNewLight */
@font-face {
    font-family: 'FuturaTSNewLight';
    src: url('/fonts/FuturaTSNewLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* FuturaTSNewMedium */
@font-face {
    font-family: 'FuturaTSNewMedium';
    src: url('/fonts/FuturaTSNewMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* CSS Classes */

.fts {
    font-family: 'FuturaTSNew', sans-serif;
}

.ftsBold {
    font-family: 'FuturaTSNewBold', sans-serif;
}