.container {
  width: 100vw;
  height: 100vh;
  background-color: #f7f3ea;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.body {
  border: 1px solid black;
  border-top-left-radius: 6rem;
}

.navBar {
  border-bottom: 1px solid black;
  border-top-left-radius: 6rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-left: 0.3rem;
}

.navBar a {
  margin-left: 1rem;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 18px);
}

.progressBar {
  border: 1px solid black;
  height: calc(40px + 0.25rem); 
  margin: 0 auto;
}

.progressBar div {
  width: calc(10% - 2px);
  max-width: calc(10% - 2px);
  min-width: calc(10% - 2px);
  background-color: rgb(25, 25, 110);
  margin: 1px;
  flex-grow: 0;
}

.sliderWide {
  /* max-width: 300vw; */
  /* width: 100% !important; */
  padding: 1rem;
}

.icon {
  width: 64px;
}

.icon > span {
  position: absolute !important;
  margin-bottom: 1rem !important;
  margin-left: 1.5rem !important;
}

